<%- include ("../partials/header") %>

<h1>myAccount Edit Page</h1>
	<div class="container">
		<h4>user_id: <%=foundUser._id%></h4>
		<h4>user_username: <%=foundUser.username%></h4>
	</div>
	</body>	
</html>